div.loginwindow{
    background-color: #ffdddd;
    border-radius:4px;
    padding:20px;
    box-sizing:border-box;
}
input[type=submit]
{border-radius:3px;
border-block-end-color:#c49f9f;
padding:5px;
line-height: auto;
 }
 input[type=submit]:hover{
     border:solid #c49f9f;

 }
 input[type=password]{color:black;}