div.loginwindow{
    background-color: #ffdddd;
    border-radius:4px;
    padding:20px;
    box-sizing:border-box;
    max-width: 100%;
    position:fixed;
    top:10%;
    right:20px;
}
input[type=submit]
{border-radius:3px;
border-block-end-color:#c49f95;
padding:5px;
line-height: auto;
display:block;
 }
 input[type=submit]:hover{
     border:solid #c49f9f;
display:block;
 }
 input[type=password]{color:black;}